@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #111111;

  --muted: #6b7280;
  --border: #e5e7eb;

  --card: #ffffff;
}

html {
  scroll-behavior: auto;
}

body {
  background: var(--background);
  color: var(--foreground);

  overflow-x: hidden;

  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

* {
  box-sizing: border-box;
}

section {
  position: relative;
}

/* Hide browser scrollbar */

html {
  scrollbar-width: none;
}

body {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Smooth transitions */

a,
button {
  transition: all 0.25s ease;
}